<h1>
  <span *ngIf="this.data.action == DialogActionType.ADD">Добавить книгу</span>
  <span *ngIf="this.data.action == DialogActionType.EDIT">Редактировать книгу</span>
</h1>

<div mat-dialog-content>
  <form [formGroup]="bookForm">
    <mat-form-field>
      <mat-label>Автор</mat-label>
      <input matInput type="text" [formControlName]="'author'">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput type="text" [formControlName]="'name'">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button *ngIf="this.data.action == DialogActionType.ADD" mat-button (click)="onActionClick()"
    [disabled]="bookForm.invalid">Добавить</button>
  <button *ngIf="this.data.action == DialogActionType.EDIT" mat-button (click)="onActionClick()"
    [disabled]="bookForm.invalid">Изменить</button>
</div>