h1 {
  text-align: center;
  margin: 24px 0 16px 0;
  padding: 0 24px;
}

.mat-mdc-dialog-content {
  margin: 16px 0 24px 0;
  padding: 0 24px;
}

.mat-mdc-dialog-content form {
  max-width: 260px;
}

.mat-mdc-dialog-actions {
  margin: 24px 0;
  padding: 0 24px;
  justify-content: end;
}

.mat-mdc-form-field {
  width: 100%;
}