.mat-mdc-dialog-surface {
    background: colors.surface() !important;

    h1 {
        @include typography.headline-small();
        color: colors.on-surface();
    }

    .mat-mdc-dialog-actions {
        .mat-mdc-button {
            background: colors.surface() !important;
            color: colors.on-surface() !important;
        }
    }
}